services:
  # mymail.local
  mymail_server:
    container_name: mymail_server
    tty: true
    build: ../implementation/server
    dns: 10.225.254.254
    networks:
      mohttps:
        ipv4_address: 10.225.1.2

  mymail_client:
    container_name: mymail_client
    tty: true
    build: ../implementation/client
    dns: 10.225.254.254
    networks:
      mohttps:
        ipv4_address: 10.225.1.3

  mymail_webmail:
    container_name: mymail_webmail
    tty: true
    build: ../implementation/webmail
    dns: 10.225.254.254
    networks:
      mohttps:
        ipv4_address: 10.225.1.4

  # company.local
  company_server:
    container_name: company_server
    tty: true
    build: ../implementation/server
    dns: 10.225.254.254
    networks:
      mohttps:
        ipv4_address: 10.225.2.2

  company_client:
    container_name: company_client
    tty: true
    build: ../implementation/client
    dns: 10.225.254.254
    networks:
      mohttps:
        ipv4_address: 10.225.2.3

  company_webmail:
    container_name: company_webmail
    tty: true
    build: ../implementation/webmail
    dns: 10.225.254.254
    networks:
      mohttps:
        ipv4_address: 10.225.2.4

  # DNS server
  dns:
    image: coredns/coredns:latest
    command: -conf /etc/coredns/Corefile -dns.port 53
    volumes:
      - ./dns:/etc/coredns
    networks:
      mohttps:
        ipv4_address: 10.225.254.254

networks:
  mohttps:
    driver: bridge
    ipam:
      config:
        - subnet: 10.225.0.0/16
